.landing-page{
    height: 100vh;
    width: 100vw;
    padding: 20px;

    .logo-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        .logo{
            margin-bottom: 2rem;
        }
    }

    .top-trending{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 8% 4%;
    }
}

@media(min-width:992px){
    .landing-page{
        padding: 200px;
 
        .top-trending{
            padding: 8% 20% !important;
        }
    }
}